

<button class="btn btn-primary m-1" (click)="createProduct()">
    Create Product
</button>
<button class="btn btn-primary m-1" (click)="createProductAndSupplier()">
    Create Product and Supplier
</button>
<button class="btn btn-primary m-1" (click)="replaceProduct()">
    Replace Product
</button>
<button class="btn btn-primary m-1" (click)="replaceSupplier()">
    Replace Supplier
</button>
<button class="btn btn-primary m-1" (click)="updateProduct()">
    Update Product
</button>
<button class="btn btn-primary m-1" (click)="deleteProduct()">
    Delete Product
</button>
<button class="btn btn-primary m-1" (click)="deleteSupplier()">
    Delete Supplier
</button>
<router-outlet></router-outlet>